:root {
    --color-red: red;
}

@font-face {
    font-family: OpenSans-700;
    src: url(../fonts/OpenSans-Bold.ttf);
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif; */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.site-body {
}
.header { background-color: gray; }
.header-navigation { }
.header-logo { }
.header-list { }
.header-item { }
.header-title { }

.header-link { 
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33; 
    /* 16/12 = 1.33 */
    letter-spacing: 0.1em;
    /* em = % від розміру шрифта( тобто 1.2px) */
    color: #fff;
}
.header-tel { 
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33; 
    /* 16/12 = 1.33 */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
}
.header-btn { 
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33; 
    /* 16/12 = 1.33 */
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #fff;  
}
